.container_section_contact {
  position: relative;
  z-index: 2;
  padding: 0 10% 14rem 10%;

  .title_contact {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: sans-serif;
  }

  .form_contact {
    padding-top: 60px;

    .container_input {
      display: flex;
      padding: 10px;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .input {
        height: 30px;
        padding: 10px;
        width: 250px;
        border-radius: 10px;
      }
      .input_area {
        height: 100px;
        width: 250px;
        padding: 10px;
        border-radius: 10px;
      }
    }
    .btn_contact_form {
      padding: 10px;
      color: white;
      background-color: red;
      border: none;
      width: 134px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      position: absolute;
      left: 50%;
      cursor: pointer;
    }
  }

  .pop_up_sending {
    position: absolute;
    background-color: seagreen;
    z-index: 2;
    width: 12rem;
    bottom: 0;
    right: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    color: white;
    align-items: center;
    opacity: 0;

    &.show {
      transition: opacity 0.7s ease-in-out;
      gap: 10px;
      opacity: 1;
    }

    .text_pop_up_sending {
      font-family: sans-serif;
    }
  }
}
