.footer {
  background-color: #272727;
  position: relative;
  z-index: 7;
  height: 160px;

  @media (max-width: 1200px) {
    margin: 0;
  }

  .title_footer {
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
  }

  .informations_contact {
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding-top: 1rem;
    font-size: 13px;
  }

  .icon_footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    color: white;

    .link_logo_footer {
      text-decoration: none;
      color: white;
      scale: 1.5;
      border: 1px solid white;
      margin: 7px;
      border-radius: 43px;
      display: flex;

      &:hover {
        background-color: white;
        color: black;
      }

      .logo_scale {
        margin: 6px;
      }
    }
  }
  .copyright_footer {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 15px;
    align-items: center;
    gap: 10px;
  }
}
