.container_homepage_title {
  margin-top: 20rem;
  z-index: 1;
  padding-left: 10%;
  position: relative;

  .homepage_title {
    font-family: sans-serif;
    color: white;
    width: 100%;
    font-size: 48px;
    margin: auto;
    line-height: 90px;

    .red_title {
      color: red;
    }
  }

  .btn_contact_homepage {
    border: none;
    background-color: red;
    padding: 20px;
    border-radius: 15px;
    font-family: sans-serif;
    width: 170px;
    font-weight: 700;
    color: white;
  }

  .Logo_icon_bootstrap {
    color: white;
    padding-top: 110px;
    display: flex;
    gap: 50px;

    .link_logo {
      color: white;
      .logo_scale {
        scale: 2;
      }
    }
  }
}
