.container_homepage_title {
  z-index: 1;
  padding: 20rem 15% 15rem 13%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 992px) {
    display: flex;
    flex-direction: column-reverse;
    padding: 10rem 15% 7rem 13%;
  }

  .container_section_presentation {
    @media (max-width: 992px) {
      padding-top: 3rem;
    }
    .homepage_title {
      font-family: sans-serif;
      color: white;
      width: 100%;
      font-size: 48px;
      margin: auto;
      line-height: 90px;

      @media (max-width: 992px) {
        font-size: 42px;
        line-height: 50px;
      }

      @media (max-width: 600px) {
        font-size: 28px;
        line-height: 50px;
      }

      .red_title {
        color: red;
      }

      .title_wrapper {
        position: relative;
        height: 1.3em;
        overflow: hidden;
      }

      .title_item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        animation: slide-up 2s infinite;
      }

      .title_item.active {
        opacity: 1;
        animation: slide-up 2s infinite, fade 0.5s ease-in-out;
      }

      @keyframes change-text {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
        25%,
        75% {
          opacity: 0;
          transform: translateY(-20px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }

    .btn_contact_homepage {
      border: none;
      margin-top: 30px;
      background-color: red;
      padding: 20px;
      border-radius: 15px;
      font-family: sans-serif;
      width: 170px;
      font-weight: 700;
      color: white;

      @media (max-width: 992px) {
        display: block;
        margin: 5rem auto auto auto;
        width: 180px;
      }

      .reference_contact {
        text-decoration: none;
        color: white;
      }
    }

    .Logo_icon_bootstrap {
      color: white;
      padding-top: 110px;
      display: flex;
      gap: 50px;

      @media (max-width: 992px) {
        justify-content: center;
      }

      .link_logo {
        color: white;
        .logo_scale {
          scale: 2;
        }
      }
    }
  }

  .image_presentation {
    width: 70%;
    border-radius: 70%;
    justify-self: center;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
