.container_navbar {
  background-color: #272727;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100vw;
  .navbar_children {
    padding: 20px;

    .container_list_menu {
      padding: 0;
      font-family: sans-serif;
      color: white;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .list_menu.active {
        border-bottom: 3px solid red;
      }
      .link_navbar {
        color: white;
        text-decoration: none;
      }
    }
  }
}
