.container_section_project {
  position: relative;
  z-index: 2;
  padding: 0 10% 15rem 10%;

  .title_project {
    font-size: 36px;
    color: white;
    text-align: center;
    font-family: sans-serif;
  }

  .flex_container {
    display: flex;
    justify-content: center;
    .container_project {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 60px;
      gap: 20px;
      .image_project {
        width: 350px;
        margin: auto;
        border-radius: 25px;
      }
    }
  }

  .container_download {
    .download_file {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
      text-decoration: none;

      .wrapper_btn {
        background-color: red;
        display: flex;
        gap: 14px;
        justify-content: center;
        border-radius: 8px;
        align-items: center;
        padding: 20px;

        .svg_download{
          scale: 1.6;
        }
      }
    }
  }
}
