.container_section_skills {
  position: relative;
  z-index: 2;
  padding: 15rem 10px 10px 10px;

  .title_skills {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
  }
  .container_icon_skills {
    color: white;
    display: grid;
    text-align: center;
    padding-top: 61px;
    gap: 60px;
    grid-template-columns: 1fr 1fr;

    .icons_skills {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid red;
      margin: auto;
      width: 250px;
      align-items: center;
      gap: 10px;
      scale: 1.5;
      .logo_react{
        scale: 1.3;
      }
    }
  }
}
